<!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <title>Film list view</title>
      <link rel="stylesheet" href="/style.css">
    </head>
    <body>
      <%= yield %>
    </body>
</html>
